*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    width: 100%;
    height: 100%;

}
.notificationContainer{
    background-color: #fff;
    width: 700px;
    margin: 2rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    margin-bottom: 20px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;  
}
.notificationHeader{
    display: flex;
    align-items: center;
}
#num-of-notif{
    background-color: blue;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
    margin-left: 10px;
}
#mark-as-read{
    color: gray;
    cursor: pointer;
    transition: 0.6s ease;
}
#mark-as-read:hover{
    color: black;
}
main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.notificationCard{
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
}
.notificationCard img{
    width: 50px;

}
.notificationCard .description{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
.unread{
    background-color: rgb(241, 182, 192);

}